@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);
img {
	width: 150px;
	margin-left: 25px;
}
html, body{
	margin: 0px;
}
nav {
	height: 100px;
	background: rgba(0, 40, 71, 1);
	color:white;
	width:100%;
}
ul{
	list-style: none;
	display: block;
	height: 100px;
	background: rgba(0, 40, 71, 1);
	color:white;
	width:100%;
}
ul li{
	float:left;
	width:200px;
	height: 100px;
	text-align: center;
	line-height: 100px;
	font-size: 1.1em;
	text-transform: uppercase;


}
ul li:hover{
	background: rgba(0, 51, 87, 1);

}
ul li:active{
	background:blue;
}

#cart{

	background:blue;
}

#price h1{
	margin-left: 600px;
	font-family: 'Open Sans Condensed', sans-serif;
}
#price hr{
	width: 300px;
	margin-left: 600px
}
#price{
	margin-top: 50px
}
#price table{
	margin-left: 600px;
	font-family: 'Open Sans Condensed', sans-serif;

}
#price table tr td{
	text-indent: 6px;
	font-size: 1.3em;
}
#price table tr #title{
	width: 150px;
	text-indent: 6px;
	font-size: 1.3em;
	height: 35px;
	font-family: 'Open Sans Condensed', sans-serif;


}
#proceed {
		margin-top: 22px;
		background: rgba(79, 176, 131, 1);
		border: 1px solid black;
		height: 35px;
		width: 150px;
		font-size: 1.3em;
		font-size: 16px;
		margin-left: -10px;
		font-family: 'Open Sans Condensed', sans-serif;
		border-radius: 15px;
		box-shadow: 0px -1px 5px 2.5px rgba(31,20,31,1);
		font-weight: bold;
}
