@import url(https://fonts.googleapis.com/css?family=Dancing+Script);

form{
  border: 1px solid rgba(1, 8, 7, 0.5);
  border-radius: 10px;
  background: rgba(20, 60, 4, 1);
  width:860px;
  height: 820px;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 25px;
  margin-top: 20px;
  box-shadow: 1px 1px 2px 2px black;
  
  
}

body{
  background: url("http://hive.sewanee.edu/iradub0/webDevelopment/5/background.jpg");

}

#sign{
  display: block; 
  padding: 10px 45px;
  border-radius: 2px;
  width: 720px;
  list-style: none; 
  z-index: 3;
  font-size: 24px;
  font-weight: bold;
  margin-left: 18.3%;
  font-family: 'Dancing Script', cursive;
  background: rgba(37,37,37,0.9);
  color:white;
  margin-top: 10px;
  padding-left: 90px; 
  box-shadow: 1px 1px 2px 2px black;

  }

#icon{
 
  display: block; 
  padding: 30px 50px;
  border-radius: 5px;
  width: 100px;
  list-style: none; 
  z-index: 3;
  font-size: 28px;
  font-weight: bold;
  margin-left: 18%;
  margin-bottom: 40px;
  background: black;
  background-repeat: no-repeat;
  padding-left: 90px;
  box-shadow: 1px 1px 2px 2px gray;
}
a:link {
    text-decoration: none;

}
a:hover {
    text-decoration: underline;
}
#haiti{
  color: white;
}
table{
  padding: 10px;
  margin-left: 80px;
  margin-top: 0px;
  text-transform: uppercase;
  font-family: ‘Courier New’, Courier, monospace;
}

#FirstName, #LastName {
  width: 150px;

  }
input{
  height: 35px;
  border: 1px solid #999999;
  margin-bottom: 10px;
  font-family: ‘Courier New’, Courier, monospace;
  font-weight: bold;
  padding-left:10px;
  border-radius: 5px; 
  width: 320px;

  
  }
i{
  margin-left: 80px
  }
#verification{
  margin-top:5px
  }
#reload{
   margi
  }
p{
  font-family: ‘Courier New’, Courier, monospace;
  font-weight: bold;
  margin-left: 210px; 
}
button{
 height: 45px;
 width: 140px;
 background: rgba(10,45,19,1);
 outline: none;
 font-size: 18px;
 border: 1px solid rgba(10,45,19,1);
 border-radius: 5px; 
 float: right;
 margin-right: 220px;
 margin-top: 20px;
 text-shadow: 1px 1px 1px rgba(30, 30, 30, 0.8);
 box-shadow: 1px 1px 1px 2px black;
 text-transform: uppercase;
 font-family: ‘Courier New’, Courier, monospace;
 font-weight: bold;
}
